beautifulsoup4>=4.11.1
cloudscraper>=1.2.71
comcrawl>=1.0.2
courlan>=0.9.5
crossrefapi>=1.6.0
geocoder>=1.38.1
geopy>=2.4.1
matplotlib>=3.8.2
networkx>=2.8.4
nltk>=3.8.1
nltk>=3.7
numpy>=1.23.0
pandas>=1.4.4
pyorcid>=1.2.0
PyPDF2>=3.0.1
python-docx>=1.1.0
python-igraph>=0.10.6
python-Levenshtein>=0.25.0
pybliometrics>=4.1
pybtex
igraph>=0.10.6
Levenshtein>=0.25.0
requests
scikit_learn>=1.4.0
selectolax>=0.3.17
selenium>=4.22.0
trafilatura>=1.6.3
wayback>=0.4.3
selenium>=4.18.1
selectolax>=0.3.17
pybtex>=0.24.0